In [84]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [85]:
df_final_demo= pd.read_csv("https://drive.google.com/uc?id=1n-do3beXJIXcVdcUp8gAhIb4jbSjomWK")
df_final_exp_clients=pd.read_csv("https://drive.google.com/uc?id=19mSpzew88dgaSQKvpbS1Dt0L7h-WKk50")
df_web_data_1=pd.read_csv("https://drive.google.com/uc?id=1sTNwBd9Gr2_v3eNuAH-YbZ7Jh6YrKTPD")
df_web_data_2=pd.read_csv("https://drive.google.com/uc?id=1dUbosgeNvDPAHe-i761aF-YH20raALek")
df_final_demo
df_final_exp_clients
df_web_data_1

df_web=pd.merge (df_web_data_1,df_web_data_2, on="client_id",how="inner")

In [86]:
df_web = df_web.drop_duplicates(subset="client_id", keep="first")
df_web

,client_id,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
0,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,confirm,2017-06-08 16:46:39
84,8932927,485163175_18149554449,883578716_57691052399_945047,step_1,2017-04-13 22:37:49,485163175_18149554449,103652948_14625127290_455632,step_3,2017-05-10 20:15:35
91,7040762,902221257_68080603586,274733569_31313180309_937996,start,2017-04-19 11:30:16,523639867_19261927263,364310529_85977575920_721331,start,2017-06-14 16:14:24
95,3751049,937925261_74821699083,62955241_10402819739_406095,start,2017-04-14 20:35:44,937925261_74821699083,628817270_45049432060_475841,confirm,2017-05-15 23:25:48
207,6653427,477208101_38628877092,379233621_52265281981_75449,confirm,2017-04-13 16:38:35,715931239_13908957179,306331908_14858001808_462358,confirm,2017-06-03 13:50:23
...,...,...,...,...,...,...,...,...,...
160701,4352866,654838437_83920540701,336706992_59380692104_91417,confirm,2017-04-04 18:10:42,276163000_63583020379,794827339_82620053246_468822,confirm,2017-06-01 19:24:55
160710,3054309,429743648_12656366081,783931577_60029727390_806044,step_1,2017-04-04 21:19:16,429743648_12656366081,796830404_29167630180_245219,start,2017-05-10 22:50:34
160760,976646,687767680_83431555267,659183971_52273068076_7972,step_1,2017-03-15 18:00:23,872931974_79025113670,382926642_57649271108_65269,confirm,2017-06-12 17:42:25
160776,9889375,513284305_44124254613,794542827_25745627069_541653,step_3,2017-04-12 13:06:50,513284305_44124254613,695865916_90961653118_512906,start,2017-06-14 13:57:49
160780,2443347,465784886_73090545671,29485110_67112661133_270151,confirm,2017-04-03 16:15:56,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18

In [87]:
df_final_demo["gendr"] = df_final_demo["gendr"].fillna(np.nan)
df_final_demo = df_final_demo.drop_duplicates(subset="client_id", keep="first")
df_final_demo["gendr"].replace("U",np.nan,inplace=True)
df_final_demo

C:\Users\claud\AppData\Local\Temp\ipykernel_9408\2696798803.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final_demo["gendr"].replace("U",np.nan,inplace=True)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,NaN,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,NaN,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,NaN,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,NaN,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [92]:
df_final_exp_clients
df_final_exp_clients = df_final_exp_clients.drop_duplicates(subset="client_id", keep="first")
df_final_exp_clients

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [103]:
df_master = (
    df_web
    .merge(df_final_demo, on="client_id", how="inner")
    .merge(df_final_exp_clients, on="client_id", how="inner")
)

In [104]:
df_master = df_web.merge(df_final_exp_clients, on = 'client_id', how = 'left').merge(df_final_demo, on = 'client_id', how = 'left')

In [ ]:
#Variation fillna with mode
mode_value=df_master["Variation"].mode(dropna=True)[0]
df_master["Variation"].fillna(mode_value, inplace=True)

#clnt_tenure_yr  & clnt_tenure_mnth
df_master[["clnt_tenure_yr", "clnt_tenure_mnth"]].isna().sum()
only_one_missing = ((df_master["clnt_tenure_yr"].isna()) ^ (df_master["clnt_tenure_mnth"].isna())).sum()
print(f" one missing: {only_one_missing}")

cols= ["clnt_tenure_yr", "clnt_tenure_mnth"]
for col in cols:
    clean_data=df_master[col].dropna()

    mean = clean_data.mean()
    std = clean_data.std()
    median = clean_data.median()
    mode = clean_data.mode()[0]
    n_missing=df_master[col].isna().sum()

    if n_missing > 0:
        #filll values without changing the stats of the column, it fill it with random values and 
        random_fill = np.random.normal(loc=mean, scale=std, size=n_missing)
        #limit the values to a range 
        random_fill = np.clip(random_fill, clean_data.min(), clean_data.max())
        df_master.loc[df_master[col].isna(), col] = random_fill

#clnt_age  
col_age=["clnt_age"]
for col in col_age:
    clean_age=df_master[col].dropna()  

    mean = clean_age.mean()
    std = clean_age.std()
    median = clean_age.median()
    mode = clean_age.mode()[0]
    n_missing=df_master[col].isna().sum()

    if n_missing > 0:
        random_fill = np.random.normal(loc=mean, scale=std, size=n_missing)
        df_master.loc[df_master[col].isna(), col] = random_fill
print(df_master[col_age].isna().sum())

 one missing: 0
clnt_age    0
dtype: int64

C:\Users\claud\AppData\Local\Temp\ipykernel_9408\3184791592.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_master["Variation"].fillna(mode_value, inplace=True)